/**
 * Default styles for the dygraphs charting library.
 */

/*
 * Copyright 2009 Dan Vanderkam
 * License: MIT
 */

.dygraph-legend {
    position: absolute;
    font-size: 14px;
    z-index: 10;
    width: 250px; /* labelsDivWidth */
    /*
    dygraphs determines these based on the presence of chart labels.
    It might make more sense to create a wrapper div around the chart proper.
    top: 0px;
    right: 2px;
    */
    background: white;
    line-height: normal;
    text-align: left;
    overflow: hidden;
}

/* styles for a solid line in the legend
 * edited by Marie Lohbeck, developer of PicDat, to show a square instead of a line*/
.dygraph-legend-line {
    display: inline-block;
    position: relative;
    bottom: 0;
    padding-left: 12px;
    height: 1px;
    border-bottom: 12px solid;
    /* border-bottom-color is set based on the series color */
}

/* styles for a dashed line in the legend, e.g. when strokePattern is set */
.dygraph-legend-dash {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    /* border-bottom-color is set based on the series color */
    /* margin-right is set based on the stroke pattern */
    /* padding-left is set based on the stroke pattern */
}

.dygraph-roller {
    position: absolute;
    z-index: 10;
}

/* This class is shared by all annotations, including those with icons */
.dygraph-annotation {
    position: absolute;
    z-index: 10;
    overflow: hidden;
}

/* This class only applies to annotations without icons */
/* Old class name: .dygraphDefaultAnnotation */
.dygraph-default-annotation {
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.dygraph-axis-label {
    /* position: absolute; */
    /* font-size: 14px; */
    z-index: 10;
    line-height: normal;
    overflow: hidden;
    color: black; /* replaces old axisLabelColor option */
}

.dygraph-axis-label-x {
}

.dygraph-axis-label-y {
}

.dygraph-axis-label-y2 {
}

.dygraph-title {
    font-weight: bold;
    z-index: 10;
    text-align: center;
    /* font-size: based on titleHeight option */
}

.dygraph-xlabel {
    text-align: center;
    /* font-size: based on xLabelHeight option */
}

/* For y-axis label */
.dygraph-label-rotate-left {
    text-align: center;
    /* See http://caniuse.com/#feat=transforms2d */
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/* For y2-axis label */
.dygraph-label-rotate-right {
    text-align: center;
    /* See http://caniuse.com/#feat=transforms2d */
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

/* The following part is an addition by Marie Lohbeck, developer of PicDat */

body {
font-family:sans-serif;
}

.legend-div {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    height: 600px;
    overflow: auto;
}
.chart-div {
    display: inline-block;
    vertical-align: top;
    padding-right: 2%;
    /* Dimensions of chart divs will be set in js in the html file
       (See constants WIDTH_FACTOR and HEIGHT_PX) */
}

button {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 3px 5px;
    font-size: 15px;
}

button:hover {
    background-color: #ddd;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    border-top: none;
    padding-top: 15px;
    width: 99%;
}


.checkdiv {
    background-color:#f1f1f1;
    border:1px solid #ccc;
    overflow:auto;
    float:left;
    display:inline;
}

.checkdiv:hover {
    background-color: #ddd;
}

.checkdiv label {
    float:left;
    font-size: 15px;
    cursor: pointer;
}

.checkdiv label span {
    text-align:center;
    padding:3px 5px;
    display:block;
}

.checkdiv label input {
    position:absolute;
    top:-20px;
}

.checkdiv input:checked + span {
    background-color:#911;
    color:#fff;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
}

#topButton:hover {
    background-color: #ddd;
}
